@media screen and (max-width: 1000px) {
  .navbar {
    padding: 15px 60px;
  }

  .global-container {
    padding: 80px 60px 16px 60px;
  }

  .drawer-button {
    background-color: transparent;
    display: inline-block;
    padding: 8px;
    border: 0;
    border-radius: 4px;

    font-weight: bold;
    font-size: 28px;
    color: white;

    cursor: pointer;
  }

  .navbar-links {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 60px 80px;
    background-color: var(--blue-darkest);
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: -999;
    min-height: 100vh;
  }

  .navbar-links.open {
    transform: translateY(0);
    opacity: 1;
  }

  .navbar-center-links {
    flex-direction: column;
    gap: 30px;
  }

  .navbar-right-links {
    flex-direction: column;
    gap: 30px;
  }

  .auth-container {
    grid-template-columns: 1fr 2fr;
  }

  .auth-form-container {
    height: 100vh;
  }

  .auth-form {
    width: 400px;
  }

  .summarize-tool {
    flex-wrap: wrap;
  }

  .summarize-tool__left-col {
    width: 100%;
  }

  .summarize-tool__right-col {
    width: 100%;
  }

  footer.footer {
    margin-inline: 60px;
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    padding: 15px 30px;
  }

  .global-container {
    padding: 80px 30px 16px 30px;
  }

  .auth-container {
    grid-template-columns: 1fr;
  }

  .auth-image img {
    display: none;
  }

  .about-page .about-container {
    padding: 20px; /* Reduced padding for smaller screens */
  }

  .summarize-tool-container {
    margin-bottom: 60px;
  }

  .accordion-button {
    font-size: 1rem;
  }

  .accordion-body {
    font-size: 0.9rem;
  }

  .about-page .about-header,
  .about-page .about-content,
  .about-page .simplify-text-container {
    padding: 20px; /* Adjusted padding for mobile screens */
  }

  /* Styling for the image inside "Let’s Simplify Your Text" section */
  .simplify-text-container .simplify-text-container__right-col img {
    display: none;
  }

  .about-page .simplify-text-container {
    gap: 0px;
  }

  footer.footer {
    margin-inline: 30px;
    margin-top: 80px; 
  }
}

@media screen and (max-width: 600px) {
  .auth-form {
    width: 300px;
  }

  .section-header p {
    font-size: 1rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .faq-item__title h2 {
    font-size: 1rem;
  }

  .library-item__detail {
    gap: 20px;
  }

  .library-item__illustration img {
    display: none;
  }

  .library-item {
    gap: 0;
  }

  .library-item__buttons {
    margin-left: auto;
  }

  .gradient-image {
    height: 80%;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    padding: 10px 25px;
  }

  .global-container {
    padding: 80px 25px 16px 25px;
  }

  .section-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-block: 30px;
    max-width: 1300px;
    color: var(--primary-text-color);
  }

  .summarize-btn {
    font-size: 0px;
  }

  .summarize-btn i {
    font-size: 1.5rem;
  }

  .summarize-form textarea {
    height: 180px;
  }

  .section-title {
    font-size: 2rem;
  }

  .library-item__title {
    font-size: 1.6rem;
  }

  .drawer-button {
    font-size: 25px;
  }

  .navbar-logo {
    font-size: 25px;
    font-weight: bold;
    flex-shrink: 0;
  }

  footer.footer {
    justify-content: flex-start;
    flex-direction: column;
    margin-inline: 25px;
  }

  .footer-section.brand .copyright {
    margin-top: 20px; 
    font-size: 12px;
  }
}
