@media screen and (max-width: 1000px) {
  .auth-container {
    grid-template-columns: 1fr 2fr;
  }

  .auth-form-container {
    height: 100vh;
  }

  .auth-form {
    width: 400px;
  }

  .summarize-tool {
    flex-wrap: wrap;
  }

  .summarize-tool__left-col {
    width: 100%;
  }

  .summarize-tool__right-col {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .auth-container {
    grid-template-columns: 1fr;
  }

  .auth-image img {
    display: none;
  }

  .about-page .about-container {
    padding: 20px; /* Reduced padding for smaller screens */
  }

  .about-page .about-header,
  .about-page .about-content,
  .about-page .simplify-text-container {
    padding: 20px; /* Adjusted padding for mobile screens */
  }

  /* Styling for the image inside "Let’s Simplify Your Text" section */
  .about-page .simplify-text-container .simplify-text-container__right-col img {
    display: none;
  }

  .about-page .simplify-text-container {
    gap: 0px;
  }
}

@media screen and (max-width: 600px) {
  .auth-form {
    width: 300px;
  }

  .section-header p {
    font-size: 1rem;
  }

  .section-title {
    font-size: 2rem;
  }

  .faq-item__title h2 {
    font-size: 1rem;
  }

  .library-item__illustration img {
    display: none;
  }

  .library-item {
    gap: 0;
  }

  .library-item__buttons {
    margin-left: auto;
  }
}
