* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --blue-darkest: #0d1e4a;
  --blue-dark: #072983;
  --blue: #0043f1;
  --blue-light: #5785ff;
  --blue-lightest: #bdcfff;

  --purple-dark: #280887;
  --purple: #5315fc;
  --purple-light: #875ffe;
  --purple-lightest: #d1c2ff;

  --primary-text-color: #f9fafb;
  --secondary-text-color: #d2d5da;
}

body {
  font-family: "Arial", sans-serif;
  background-color: var(--blue-darkest);
}

.btn {
  background-image: linear-gradient(to right, var(--blue), var(--purple-light));
  border: none;
  border-radius: 999px;
  padding: 15px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-text-color) !important;

  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    var(--purple-light),
    var(--blue)
  );
  color: black;
}

input:focus-visible,
button:focus-visible,
a:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px var(--blue);
}

.container {
  padding-inline: 20px;
  margin-inline: auto;
  max-width: 1300px;
}

.section-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  margin-block: 50px;
  color: var(--primary-text-color);
}

.section-header p {
  font-size: 1.2rem;
}

.section-title {
  font-size: 2.5rem;
}

.auth-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  align-content: center;
  justify-content: center;
  color: var(--primary-text-color);
}

.auth-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.auth-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-darkest);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 450px;
}

.form-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-block: 10px;
}

.form-header p {
  color: var(--secondary-text-color);
}

.form-logo {
  font-size: 2rem;
  margin-bottom: 10px;
}

.form-title {
  font-size: 1.5rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-control label {
  font-weight: bold;
}

.form-buttons {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-block: 10px;
}

.form-buttons a {
  color: var(--purple-light);
}

.form-buttons p {
  margin: 0 auto;
}

.submit-button-container button {
  width: 100%;
}

.form-input-container {
  position: relative;
}

.form-input-container input {
  background-color: transparent;
  width: 100%;
  padding: 15px 25px 15px 60px;
  border: 1px solid var(--blue-light);
  border-radius: 999px;
  color: var(--primary-text-color);

  font-size: 1rem;
  font-family: "Inter", sans-serif;

  transition: 150ms ease-in-out;
}

.form-input-container i {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.form-input-container input::placeholder {
  color: var(--primary-text-color);
}

/* Menghilangkan style auto-fill */
.form-input-container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--blue-darkest) inset;
  -webkit-text-fill-color: var(--primary-text-color);
  transition: background-color 5000s ease-in-out 0s;
}

/* Mengubah warna icon mata */
input[type="password"]::-ms-reveal {
  filter: invert(100%);
}

/* START OF SUMMARIZE PAGE */
.summarize-tool-container, .faq-container {
  width: 100%;
  margin-bottom: 100px;
}

.faq-container {
  position: relative;
}

.summarize-tool {
  display: flex;
  gap: 10px;
  justify-content: center;
  line-height: 1.5rem;
}

.summarize-tool__left-col {
  width: 50%;
}

.summarize-tool__right-col {
  width: 50%;
}

.summarize-tool__top {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  margin-bottom: 10px;
  gap: 10px;
  background-color: var(--blue-lightest);
  border-radius: 999px;
}

.summarize-tool__top .language-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.summarize-tool__bottom {
  padding: 20px;
  border-radius: 20px;
  background-color: var(--blue-lightest);
}

.summarize-tool__bottom__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#summarize-output-form .summarize-tool__bottom__buttons .summarize-tool__button__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.summarize-btn {
  background-color: transparent;
  color: black;
  font-size: 1rem;
  text-align: left;
  border: none;
  cursor: pointer;
}

a.summarize-btn {
  text-decoration: none;
}

i[class="fa-solid fa-download"], i[class="fa-solid fa-copy"], i[class="fa-solid fa-arrow-up-from-bracket"] {
  margin-right: 5px;
}

.summarize-form textarea {
  width: 100%;
  height: 250px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Arial", sans-serif;
  border: none;
  background-color: transparent;
  resize: none;
}

.summarize-form textarea:focus-visible {
  outline: none;
}

.summarize-tool__file__input {
  display: none;
}

.keywords-buttons {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.keywords-button {
  flex: 0 0 auto;
  padding: 8px 20px;
  border-radius: 999px;
  background-color: transparent;
  border: 2px solid var(--blue);

  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.keywords-button:hover {
  background-color: var(--blue);
  color: var(--primary-text-color);
}

.submit__button, .save__button {
  padding: 12px 40px !important; 
}

.gradient-orbs {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 104vh;
  background-image: url("/dist/images/summarize-tool-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: -1;
}

.faq-list {
  margin: 0 auto;
  color: var(--primary-text-color);
  width: 90%;
}

.faq-list li {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  cursor: pointer;
}

.faq-list li p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.faq-item__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 60px;
  border-bottom: solid 0.5px var(--primary-text-color);
}

.faq-item__title h2 {
  font-size: 1.1rem;
}

.faq-item__title h2, .faq-item__title i, p {
  margin-inline: 5px;
}

.faq-item__body.hidden {
  display: none;
}

.faq-bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 70vh;
  background-image: url("/dist/images/faq-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  pointer-events: none;
  z-index: -9999;
}

/* END OF SUMMARIZE PAGE */